body{
    margin: 10px 10px 10px;
}

.navigasileft{
    height: 40px;
    object-fit: initial ;
    margin-top: 18px;
    display: flex;
    justify-content: flex-start;
}

.nav-bg{
    background-color: #392A65;
}

nav {
    margin: 0px 5px 5px 5px;
    text-align: center;
    font-family: arial;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    
} 

nav ul {
    list-style: none;
    position: initial;
    display: inline-table;
 }

nav ul li{
    float:right;
}

nav ul li:hover a{
    color:#fff;
    background-color: #392A90;
}

nav ul li a{
    display: block;
    padding: 12px;
    color: #fff;
    text-decoration: none;
}